html {
	font-size: 100%;
	box-sizing: border-box;
	background: url('https://www.imperiumtapet.com/public/uploads/preview/jezioro-301535477426jfiqk8m7pw.jpg');
	background-size: cover;
}

body {
	margin: 0;
	padding: 0;
}

.header {
	font-family: 'Open Sans', sans-serif;
	height: 100vh;
	line-height: 1.3;
	display: flex;
	flex-direction: row-reverse;
}

.box {
	min-width: 300px;
	width: 40%;
	display: flex;
	flex-direction: column;
	background-color: white;
}

.fa-regular {
	font-size: 60px;
	color: blue;
	display: flex;
	justify-content: center;
}

.login {
	font-size: 50px;
	color: blue;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 150px 25px 25px 25px;
}
.email_animation {
	position: relative;
}
.pass_animation {
	position: relative;
}
.animation_input {
	border: none;
	border-bottom: 2px solid rgb(255, 255, 255);
	outline: none;
	font-size: 1em;
	color: blue;
	min-width: 60vmin;
}
.animation_label {
	position: absolute;
	left: 0;
	color: rgb(79, 42, 171);
	transform-origin: 0 0;
	transition: transform 0.2s ease-in-out;
}
.animation_input:focus + .animation_label,
.animation_input:not(:placeholder-shown) + .animation_label {
	transform: translateY(-1em) scale(0.8);
}

.enter_email {
	width: 90%;
	border-radius: 10px;
	padding: 4px 4px;
	line-height: 2;
	margin: 8px 0 15px 0;
	display: flex;
	align-self: center;
	border: 2px solid rgb(40, 24, 187);
}

.enter_password {
	width: 90%;
	border-radius: 10px;
	padding: 4px 4px;
	line-height: 2;
	margin: 8px 0 15px 0;
	display: flex;
	align-self: center;
	border: 2px solid rgb(40, 24, 187);
}

.pass_save {
	display: inline-flex;
	flex-direction: row-reverse;
}

.label_pass {
	display: flex;
	flex-direction: column;
	margin: 4px 4px 0 0;
}

.pass_check {
	margin: 4px 4px 0 0;
	cursor: pointer;
}

.btn_sign {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.button {
	background: #15ae5a;
	padding: 0;
	border: none;
	font-size: 15px;
	color: white;
	height: 50px;
	width: 90%;
	align-self: center;
	cursor: pointer;
	transition: background 0.5s ease-out;
}

.login_forgot {
	margin: 20px 30px 0 30px;
	display: flex;
	justify-content: space-between;
}
.copyright {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
@media screen and (min-width: 600px) {
	.box {
		min-width: 200px;
		width: 60%;
	}
}
@media screen and (min-width: 900px) {
	.box {
		min-width: 350px;
		width: 100%;
	}
}
@media screen and (min-width: 1200px) {
	.box {
		min-width: 500px;
		width: 40%;
	}
}
@media screen and (max-width: 600px) {
	.box {
		width: 100%;
	}
}
